<% if(!adverts.length){ %>
	<p>Brak oczekujących ogłoszeń...</p>
<% } %>
<% for(var i in adverts){ %>
<div id="itemrow" name="<%= adverts[i]._id %>">
	<div id="miniimg">
		<img src="images/adverts
				/<%= adverts[i].owner %>
				/<%= adverts[i].post_date %>_<%= adverts[i].brand %>_<%= adverts[i].model %>
				/<%= adverts[i].post_date %>_<%= adverts[i].filename1 %>" 
			 alt="<%= adverts[i].brand %> <%= adverts[i].model %>">
		</img>
	</div>
	<table>
		<tbody>
			<tr>
				<td>Marka:</td><td name="brand"><%= adverts[i].brand %></td>
				<td>Model:</td><td name="model"><%= adverts[i].model %></td>
				<td>Wersja:</td><td name="version"><%= adverts[i].version %></td>
				<td>Rocznik:</td><td name="year"><%= adverts[i].year %></td>
			</tr>
			<tr>
				<td>Pojemność:</td><td name="capacity"><%= adverts[i].capacity %></td>
				<td>Moc:</td><td name="power"><%= adverts[i].power %></td>
				<td>Rodzaj paliwa:</td><td name="fuel"><%= adverts[i].fuel %></td>
				<td>Skrzynia biegów:</td><td name="gearbox"><%= adverts[i].gearbox %></td>
			</tr>
			<tr>
				<td>Napęd:</td><td name="drive"><%= adverts[i].drive %></td>
				<td>Typ:</td><td name="type"><%= adverts[i].type %></td>
				<td>Liczba drzwi:</td><td name="doors"><%= adverts[i].doors %></td>
				<td>Liczba siedzeń:</td><td name="seats"><%= adverts[i].seats %></td>
			</tr>
			<tr>
				<td>Kierownica:</td><td name="wheel"><%= adverts[i].wheel %></td>
				<td>Faktura VAT:</td><td name="vat"><%= adverts[i].vat %></td>
				<td>Punkt odbioru:</td><td name="place"><%= adverts[i].place %></td>
				<td name="accept"><a href="/awaiting/accept"><img src="images/accept.png" alt="Akceptuj"></img> AKCEPTUJ</a></td>
				<td name="reject"><a href="/awaiting/reject"><img src="images/reject.png" alt="Odrzuć"></img> ODRZUĆ</a></td>
			</tr>
		</tbody>
	</table>
	<input type="hidden" name="owner" value="<%= adverts[i].owner %>" />
	<input type="hidden" name="acceptor" value="<%= acceptor %>" />
	<input type="hidden" name="post_date" value="<%= adverts[i].post_date %>" />
	<input type="hidden" name="filename1" value="<%= adverts[i].filename1 %>" />
	<input type="hidden" name="filename2" value="<%= adverts[i].filename2 %>" />
	<input type="hidden" name="filename3" value="<%= adverts[i].filename3 %>" />
	<input type="hidden" name="filename4" value="<%= adverts[i].filename4 %>" />
	<input type="hidden" name="filename5" value="<%= adverts[i].filename5 %>" />
	<input type="hidden" name="filename6" value="<%= adverts[i].filename6 %>" />
</div>
<% } %>
	
<script>
	// --------- wymiana obrazkow -----------
	$('#miniimg').one('click',function(){
		var owner = $(this).parent().find('input[name="owner"]').val();
		var post_date = $(this).parent().find('input[name="post_date"]').val();
		var brand =  $(this).parent().find('td[name="brand"]').text();
		var model =  $(this).parent().find('td[name="model"]').text();
		var filename1 = $(this).parent().find('input[name="filename1"]').val();
		var filename2 = $(this).parent().find('input[name="filename2"]').val();
		var filename3 = $(this).parent().find('input[name="filename3"]').val();
		var filename4 = $(this).parent().find('input[name="filename4"]').val();
		var filename5 = $(this).parent().find('input[name="filename5"]').val();
		var filename6 = $(this).parent().find('input[name="filename6"]').val();
		var tab = [filename1,filename2,filename3,filename4,filename5,filename6];
		var shift = tab.shift();
		tab.push(shift);
		shift = tab.shift();
		tab.push(shift);
		var img = $(this).find('img');
		img.attr('src','images/adverts/'+owner+'/'+post_date+'_'+brand+'_'+model+'/'+post_date+'_'+shift);
		$('#miniimg').click(function(){
			var id = $(this).parent().attr('name');
			var shift = tab.shift();
			while(shift==""){
				shift = tab.shift();
			}
			tab.push(shift);
			img.attr('src','images/adverts/'+owner+'/'+post_date+'_'+brand+'_'+model+'/'+post_date+'_'+shift);
		});
	})
	


	// --------------------------------------
	$("td[name='place']").each(function(){
		// zapisanie wartosci do atrybutu elementu, poniewaz skracamy zapis
		$(this).attr('value',$(this).text());
		$(this).text($(this).text().substring(0,10)+'...');
	});
	var acceptreject = $("td[name='accept'],td[name='reject']");
	// var reject = $("td[name='reject']");
	acceptreject.find("a").click(function(event){
		event.preventDefault();
		// przejsc z <a> w gore do <tbody>( a->td->tr->tbody)
		var tbody = $(this).parent().parent().parent();

		var brand = tbody.find("td[name='brand']").text();
		var model = tbody.find("td[name='model']").text();
		var version = tbody.find("td[name='version']").text();
		var year = tbody.find("td[name='year']").text();

		var capacity = tbody.find("td[name='capacity']").text();
		var power = tbody.find("td[name='power']").text();
		var fuel = tbody.find("td[name='fuel']").text();
		var gearbox = tbody.find("td[name='gearbox']").text();

		var drive = tbody.find("td[name='drive']").text();
		var type = tbody.find("td[name='type']").text();
		var doors = tbody.find("td[name='doors']").text();
		var seats = tbody.find("td[name='seats']").text();

		var wheel = tbody.find("td[name='wheel']").text();
		var vat = tbody.find("td[name='vat']").text();
		// adresy potrafia byc dlugie, skracam wyswietlanie, a pobieram atrybut value
		var place = tbody.find("td[name='place']").attr('value');
		var id = tbody.parent().parent().attr('name');

		var owner = tbody.parent().parent().find('input[name="owner"]').val();
		var acceptor = tbody.parent().parent().find('input[name="acceptor"]').val();
		var post_date = tbody.parent().parent().find('input[name="post_date"]').val();
		var filename1 = tbody.parent().parent().find('input[name="filename1"]').val();
		var filename2 = tbody.parent().parent().find('input[name="filename2"]').val();
		var filename3 = tbody.parent().parent().find('input[name="filename3"]').val();
		var filename4 = tbody.parent().parent().find('input[name="filename4"]').val();
		var filename5 = tbody.parent().parent().find('input[name="filename5"]').val();
		var filename6 = tbody.parent().parent().find('input[name="filename6"]').val();

		// jesli atrybutem name bylo slowo accept - to jest to przycisk akceptuj
		if($(this).parent().attr('name')=="accept"){
			$.post('/awaiting/accept',{
				owner: owner, acceptor: acceptor, brand: brand, model: model, version: version, year: year,
				capacity: capacity, power: power, fuel: fuel, gearbox: gearbox,
				drive: drive, type: type, doors: doors, seats: seats,
				wheel: wheel, vat: vat, place: place, post_date: post_date, id: id,
				filename1: filename1, filename2: filename2, filename3: filename3,
				filename4: filename4, filename5: filename5, filename6: filename6
				},function(data){
					if(data=='accepted'){
						alert('Zaakceptowano!');
						$('div[name='+id+']').remove();
						// jesli usunelismy ostatnie oczekujace to wstaw informacje o braku
						if($('#content div').length==0){
							$('#content').html('<p>Brak oczekujących ogłoszeń...');
						}
					} else if(data=='denied'){
						alert('Cos poszlo nie tak z akceptowaniem...');
					}
				}
			);
		// jesli atrybutem name bylo slowo reject - to jest to przycisk odrzuc
		} else if($(this).parent().attr('name')=="reject"){
			$.post('/awaiting/reject',{ id: id },function(data){
				if(data=='deleted'){
					alert('Odrzucono!');
					$('div[name='+id+']').remove();
					// jesli usunelismy ostatnie oczekujace to wstaw informacje o braku
					if($('#content div').length==0){
						$('#content').html('<p>Brak oczekujących ogłoszeń...');
					}
				} else if(data=='denied'){
					alert('Cos poszlo nie tak z odrzucaniem...');
				}
			});
		// jesli inna wartosc atrybutu name, to nierozpoznana
		} else alert('Nie rozpoznalem przycisku...');
		
		/*console.log('Auto: '+brand+' '+model+' '+version+'  Rok: '+year);
		console.log('      '+capacity+' '+power+' '+fuel+'  Rok: '+gearbox);
		console.log('      '+drive+' '+type+' '+doors+'  Rok: '+seats);
		console.log('      '+wheel+' '+vat+' '+place);*/
	});
</script>