<div id="image" name="<%= car.id %>">
	<img id="photo" src="images/adverts
				/<%= car.owner %>
				/<%= car.post_date %>_<%= car.brand %>_<%= car.model %>
				/<%= car.post_date %>_<%= car.filename1 %>" 
				alt="<%= car.brand %> <%= car.model %>">
	</img>
	<div id="lefthover"><img id="arrow" src="images/arrow_left.png" alt="left"></img></div>
	<div id="righthover"><img id="arrow" src="images/arrow_right.png" alt="right"></img></div>
</div>
<div id="technicaldata">
	<table>
		<tr><td>Ogłaszający:</td><td name="owner"><%= car.owner %></td></tr>
		<tr><td>Data ogłoszenia:</td><td name="post_date"><%= car.post_date %></td></tr>
		<tr><td>Marka:</td><td name="brand"><%= car.brand %></td></tr>
		<tr><td>Model:</td><td name="model"><%= car.model %></td></tr>
		<tr><td>Wersja:</td><td><%= car.version %></td></tr>
		<tr><td>Rok produkcji:</td><td><%= car.year %></td></tr>
		<tr><td>Pojemność skokowa:</td><td><%= car.capacity %></td></tr>
		<tr><td>Moc:</td><td><%= car.power %></td></tr>
		<tr><td>Rodzaj paliwa:</td><td><%= car.fuel %></td></tr>
		<tr><td>Skrzynia biegów:</td><td><%= car.gearbox %></td></tr>
		<tr><td>Napęd:</td><td><%= car.drive %></td></tr>
		<tr><td>Typ:</td><td><%= car.type %></td></tr>
		<tr><td>Liczba drzwi:</td><td><%= car.doors %></td></tr>
		<tr><td>Liczba miejsc:</td><td><%= car.seats %></td></tr>
		<tr><td>Kierownica:</td><td><%= car.wheel %></td></tr>
		<tr><td>Faktura VAT:</td><td><%= car.vat %></td></tr>
		<tr><td>Punkt odbioru:</td><td><%= car.place %></td></tr>
	</table>
	<input type="hidden" name="filename1" value="<%= car.filename1 %>">
	<input type="hidden" name="filename2" value="<%= car.filename2 %>">
	<input type="hidden" name="filename3" value="<%= car.filename3 %>">
	<input type="hidden" name="filename4" value="<%= car.filename4 %>">
	<input type="hidden" name="filename5" value="<%= car.filename5 %>">
	<input type="hidden" name="filename6" value="<%= car.filename6 %>">
</div>
<div id="additional">
	<label>Opis dodatkowy:</label>
	<div id="description">Auto zadbane, pierwszy właściciel.</div>
</div>

<script>
	$('#lefthover').hover(
		// hover in
		function(){
			$(this).find('img').css({"display": "block"});
		},
		// hover out
		function(){
			$(this).find('img').css({"display": "none"});
		}
	);
	$('#righthover').hover(
		function(){
			$(this).find('img').css({"display": "block"});
		},
		function(){
			$(this).find('img').css({"display": "none"});
		}
	);
	var owner = $('#content').find('td[name="owner"]').text();
	var post_date = $('#content').find('td[name="post_date"]').text();
	var brand =  $('#content').find('td[name="brand"]').text();
	var model =  $('#content').find('td[name="model"]').text();
	var img = $('#photo');
	var id = $('#image').attr('name');
	var filename1 = $('#content').find('input[name="filename1"]').val();
	var filename2 = $('#content').find('input[name="filename2"]').val();
	var filename3 = $('#content').find('input[name="filename3"]').val();
	var filename4 = $('#content').find('input[name="filename4"]').val();
	var filename5 = $('#content').find('input[name="filename5"]').val();
	var filename6 = $('#content').find('input[name="filename6"]').val();
	var tab = [filename1,filename2,filename3,filename4,filename5,filename6];
	// usuwa puste stringi - zdjecia, ktorych nie umieszczono
	tab = tab.filter(Boolean);

	$('#lefthover').one('click',function(){
		//var filename1 = $(this).parent().parent().find('input[name="filename1"]').val();
		var pop = tab.pop();
		tab.unshift(pop);
		img.attr('src','images/adverts/'+owner+'/'+post_date+'_'+brand+'_'+model+'/'+post_date+'_'+pop);
		$('#lefthover').click(function(){
			var pop = tab.pop();
			tab.unshift(pop);
			img.attr('src','images/adverts/'+owner+'/'+post_date+'_'+brand+'_'+model+'/'+post_date+'_'+pop);
		});
	});


	$('#righthover').one('click',function(){
		tab.push(tab.shift());
		img.attr('src','images/adverts/'+owner+'/'+post_date+'_'+brand+'_'+model+'/'+post_date+'_'+tab[0]);
		$('#righthover').click(function(){
			tab.push(tab.shift());
			img.attr('src','images/adverts/'+owner+'/'+post_date+'_'+brand+'_'+model+'/'+post_date+'_'+tab[0]);
		});
	});
</script>
